input {
    width: 100%;
    margin: 16px;
}

.formulario {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 16px
}
.form{
    width: 100%;
    margin-inline: 2px;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 2px;
    padding: auto;


}
.card__img{
    width: 500px;
    height: 500px;
    margin: auto;
}
